POCKETBASE_URL=https://pocketbase.edwuarcardenas.online
POCKETBASE_FALLBACK=http://178.105.48.103:8090
META_PIXEL_ID=TU_PIXEL_ID
META_CAPI_ACCESS_TOKEN=
GA4_MEASUREMENT_ID=G-XXXXXXXXXX
GA4_API_SECRET=
SPLINE_SCENE_URL=
SITE_URL=https://edwuarcardenas.online
